.DS_Store
target/*
.project
.classpath
.settings
.externalToolBuilders
.idea
.java-version
*.sublime-workspace
src/main/resources/config.properties
src/test/tmp/*.pdf
src/test/tmp/*.xls
/bin
src/test/tmp/.keep
*_.java
/target/
*.iml
node_modules
npm-debug.log